.tab {
    display: flex;
    margin-left: 15%;
    
}
.tab_list li{
    width: 95%;
    height: 60px;
    color: #888;
    background-color: #ddd;
    line-height: 60px;
    padding: 0 20px;
    text-indent: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    white-space: nowrap;
    text-transform: uppercase;
    border-left: 5px solid #ddd;
}
.tab_list .current {
    border-left: 5px solid #00acee;
    color: #00acee;
    background: #eee;
}


.items {
    margin-left: 5%;
    margin-top: 16px;
    width: 60%;
    padding: 40px;
    background-color: #eee;
    display: none;
    
} 
.items p {
    font-family: 'Helvetica Neue',Arial,sans-serif;
    line-height: 1.75;
    text-indent: 5%;
    text-align: left;
    font-size: 14px;
}
.items h2 {
    
    /* padding: 0 20px; */
    font-family: MessinaSans,sans-serif;
    font-weight: 600;
    line-height: 1.3;
    font-size: 30px;
    
}

.items h2::after {
    content: "";
    display: block;
    width: 19%;
    height: 3px;
    background-color: #D9DBE0;;
    margin-top: 20px;
}
li {
    list-style: none;
}

.menu {    
    
    height: 35px;
    line-height: 15px;
    
}
.menu a {
    font-family: 'Helvetica Neue',Arial,sans-serif;
    display: block;
    padding: 10px 40px 10px 20px;
    text-decoration: none;
    color: #5b6270;
    font-weight: 700;
    cursor: pointer;
}
.menu a:hover {
    background-color: #ddd;
    color: #1090d5;
}

.menu_content {
    display: none;
    
} 

.history {
    margin-bottom: -1px;
    border: 1px solid gray;
    box-sizing: content-box;
}
