.tab {
    display: flex;
    margin-left: 15%;
    
}
.tab_list li{
    width: 95%;
    height: 60px;
    color: #888;
    background-color: #ddd;
    line-height: 60px;
    padding: 0 20px;
    text-indent: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    white-space: nowrap;
    text-transform: uppercase;
    border-left: 5px solid #ddd;
}
.tab_list .current {
    border-left: 5px solid #00acee;
    color: #00acee;
    background: #eee;
}


.items {
    margin-left: 5%;
    margin-top: 16px;
    width: 60%;
    padding: 40px;
    background-color: #eee;
    display: none;
    
} 
.items p {
    font-family: 'Helvetica Neue',Arial,sans-serif;
    line-height: 1.75;
    text-indent: 5%;
    text-align: left;
    font-size: 14px;
}
li {
    list-style: none;
}
