
*.cache
.vs/OrientationWebsite/config/applicationhost.config
.vs/OrientationWebsite/v16/.suo
*.cs
*.cache
OrientationWebsite/obj/Debug/OrientationWebsite.csprojAssemblyReference.cache
OrientationWebsite/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/OrientationWebsite/v15/.suo
.vs/OrientationWebsite/v15/Server/sqlite3/storage.ide-shm
.vs/OrientationWebsite/v15/Server/sqlite3/storage.ide-wal
OrientationWebsite/obj/Debug/OrientationWebsite.csprojAssemblyReference.cache
.vs/OrientationWebsite/v15/.suo
.vs/OrientationWebsite/v15/Server/sqlite3/storage.ide-shm
.vs/OrientationWebsite/v15/.suo
.vs/OrientationWebsite/v15/Server/sqlite3/storage.ide-shm
.vs/OrientationWebsite/v15/Server/sqlite3/storage.ide-wal
OrientationWebsite/favicon.ico
OrientationWebsite/test.travis.yml

#Allow Main.Master.cs
!OrientationWebsite/Main.Master.*
!OrientationWebsite/MasterTest.*
