.bigButton {
	font-size: 50px;
	border-style: solid;
	padding: 30px;
}

.buttonContainer{
	padding-top: 20px;
}

.homeButton{
	float: right;
}

.nav{
	padding-top: 5%;
	padding-bottom: 5%;
	width: 94%;
	background-color: #FFFFFF;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 216px;
}

.zoom:hover {
	transform: scale(1.1);
	transition: 0.5s
}

.navbutton {
	border-style: solid;
	font-size: 30px;
	padding: 15px;
	background-color: white;
	margin: 1%;
	height: 230px;
	width: 269px;
	cursor: pointer;
}

.changeCampus {
	float: right;
	height: 80px;
	margin-left: 60px;
	cursor: pointer;
}



 .iframe-container {
  overflow: hidden;
  padding-top: 80%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 50%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

 #mobile-map-cta {
        display:none;
    }

@media (max-width: 919px) {
    #mobile-map-cta {
        display:block;
    }
    
    .iframe-container {
        padding-top: 90%;
    }
}

.topnav {
	overflow: hidden;
	background-color: #333;
	text-align: center;
	height: 80px;
	margin-bottom: 20px;
}

	.topnav a {
		float: left;
		color: #f2f2f2;
		text-align: center;
		padding: 30px 15px;
		text-decoration: none;
		font-size: 20px;
	}

		.topnav a:hover {
			transform: scale(1.1);
			transition: 0.2s
		}

		.topnav a.active {
			background-color: #ed913b;
			color: white;
    height: 51px;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: -webkit-linear-gradient(left, #25c481, #25b7c4);
	background: linear-gradient(to right, #25c481, #25b7c4);
}

h1 {
	font-size: 60px;
    text-align: center;
    height: 36px;
}


.center {
	margin: auto;
	width: 75%;
}

.centerindex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.centerfaq {
	margin: 0;
	position: absolute;
	left: 50%;
	top: 20%;
	text-align: center;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 0px;
	
}


.uontitle {
	color: #FFFFFF;
	font-size: x-large;
}

.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	width: 50%;
	border: none;
	text-align: center;
	outline: none;
	font-size: 18px;
	margin-top: 20px;
	border: 1px solid;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

	.active, .collapsible:hover {
		background-color: #455;
			}

.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	float: none;
	margin: 0 auto;
	font-size: 16px;
	background-color: #f1f1f1;
	width: 47.3%;
	text-align: center;
}

.buttontest {
	border-style: solid;
	font-size: 30px;
	padding: 50px;
	background-color: white;
	margin: 1% 1% 1% 2%;
	height: 400px;
	width: 450px;
}

.dropdown-campus {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 212px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	cursor: pointer;
	left: auto;
	right: 0;
	margin-right: 0px;
	margin-top: 78px;
}

.dropdown-campus a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.logoimage {
	width: 210px;
	height: 210px;
}
.faqH2 {
	padding-top: 50px;
}


.todolisting {
	width: 300px;
	height: 300px;
	float: left;
	margin-left: 70px;
}

.todo {
	text-align: center;
}


/*TESTING*/
.progess-background {
	color:#000!important;
	background-color:#f1f1f1!important;
}

.progess-bar {
	color:#fff!important;
	background-color:#4CAF50!important;
}

#Percent1 {
	text-align: center;
	color: black; 
}

.step {
	padding-top: 25px;
}